<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicechat - Déconnexion</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/logout.js"></script>
</head>
<body>

<header>
    <script src="/js/header.js" defer></script>
</header>

<div id="main">
    <div class="center-div">
        <div class="box">
            <h2>Vous êtes déconnecté</h2>
            <p>Vous allez être redirigé vers la page de connexion dans quelques secondes...</p>
        </div>
    </div>
</div>

</body>
</html>
