<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicechat dev</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/safety_door.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <h1 id="title">Liste des utilisateurs</h1>
    <div class="divsection">
        <button onclick="window.location.href='/admin'">Retour</button>
    </div>
    <div id="userlist">
        <div id="output"></div>
    </div>
    
</div>

</body>
</html>
<script src='/js/admin_user.js'></script>
