<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nicechat</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/general.css">
    <script>
        window.location.href = '/channels';
    </script>
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <div class="center-div">
        <div class="box">
            <h2>Bienvenu sur Nicechat !</h2>
            <p>Une application de chat en ligne.</p>
            <button onclick="window.location.href='/channels'">Commencer à discuter</button>
        </div>
    </div>
</div>

</body>
</html>
