<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicechat</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/safety_door.js"></script>
</head>
<body>
<header><script src="/js/header.js"></script></header>

<div id="main">
    <div class="center-div">
        <div class="box">
            <h2>Invitation...</h2>
        </div>
    </div>
</div>

</body>
</html>
<script src="/js/invite.js"></script>
