#main {
    max-width: 900px;
    margin: 0 auto;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user:not(:last-child)
{
    border-bottom: 1px solid #dddddd;
}

#userlist {
    overflow-y: auto;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding-inline: 10px;
    margin-block: 10px;
    background: #ffffff;
}
